<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        [icon]=""
        style="color: white"
        defaultHref="/scan"
      >
        <ion-icon ios="arrow-back" md="arrow-back"></ion-icon
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Certificate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <!-- Digital COVID Certificate -->
      </ion-card-title>
    </ion-card-header>

    <ion-card-content color="primary" padding justify-content-center>
      <form #form="ngForm" (ngSubmit)="login(this.nic)">
        <ion-row color="primary" style="justify-content: center">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div style="text-align: center; color: #17a502">
              <h2>NIC Verification</h2>
            </div>
            <div padding>
              <ion-item>
                <ion-input
                  name="nic"
                  pattern="([0-9]{9}[x|v]|[0-9]{12}|[0-9 ]{10}[x|v])"
                  type="text"
                  placeholder="NIC number (v/x must lowercase)"
                  [(ngModel)]="nic"
                  required
                ></ion-input>
              </ion-item>
            </div>
            <div padding style="text-align: center">
              <ion-button
                class="login-btns"
                type="submit"
                [disabled]="form.invalid"
                expand="block"
                >Verify</ion-button
              >
              <br />
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>

    <ion-card-subtitle style="margin-top: 10px">
      <br />
      POWERED BY UNIVERSITY OF KELANIYA SRI LANKA
    </ion-card-subtitle>
  </ion-card>
</ion-content>

<!-- <ion-footer no-border text-center>
    <ion-toolbar>
      <ion-buttons class="footerbtns">
        <ion-button
          [routerLink]="['/scan']"
          icon-only
          clear
          color="success"
          ><ion-icon
            style="font-size: 40px"
            ios="arrow-back-circle-outline"
            md="arrow-back-circle-outline"
          ></ion-icon
        ></ion-button>
        <ion-button [routerLink]="['/home']" icon-only clear color="success">
          <ion-icon
            style="font-size: 30px"
            ios="home-outline"
            md="home-outline"
            
          ></ion-icon
        ></ion-button>
        <ion-button [routerLink]="['/about']" icon-only clear color="success">
          <ion-icon
            style="font-size: 35px"
            ios="information-outline"
            md="information-outline"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->
