// ion-content{
//     --ion-background-color: #EBEBEB !important;
// }

// ion-content {
//     // overwrite inline styles
//     --offset-bottom: auto!important;
//     --overflow: hidden;
//     overflow: auto;
//     --ion-background-color: #EBEBEB !important;
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }

// .content{
//     margin-top: 150px;
//     background-color: #FFFFFF;
//    }

// .img1{

//     width: 60%;
//     align-items: center;
//   }

//   .vertical-center{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//   }

// .head{
//     // --ion-background-color: transparent;
//     // --opacity:0;

//     --background: url('../../assets/images/head.svg') no-repeat center center/cover;
//     background-size: cover;
//     background-repeat:no-repeat;
//     background-position:center center;
//     width:100%;
//     height:145px;
//     float:left;
// }

// ion-header{
//     position: absolute;
//     // --background: "assets/images/head.png";
// }

// ion-card{
//     --ion-background-color: transparent;
//     box-shadow: none !important;
// }

// ion-header {
//     height: 10px;//by default 56px
// }

// ion-card-title{
//     margin-top: 10px;

//     font-weight: 600;
//     text-align: left;
// }

// ion-card-subtitle{
//     text-align: center;
//     font-size: xx-small;
//     margin-top: 30%;
// }
// .footerbtns{
//     justify-content: space-between;
//     margin-left: 10%;
//     margin-right: 10%;
// }

// .signin-btns{
//     margin-top: 25px;
//     text-align: center;
// }

// .login-btns{
//     --ion-color-primary:#17A502;

// }

// .pstyle{
//     text-align: justify;
//   text-justify: inter-word;
// }

ion-content {
  --ion-background-color: #ebebeb !important;
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  --ion-background-color: #ebebeb !important;
  &::-webkit-scrollbar {
    display: none;
  }
}
.content {
  background-color: #ebebeb;
}

// ion-toolbar{
//     --ion-background-color: transparent;
//     --opacity:0;
// }

ion-header {
  position: absolute;
}

ion-card {
  //   --ion-background-color: transparent;
  // --background: url('../../assets/images/bg.jpg') no-repeat center center/cover;
  box-shadow: none !important;
  margin-top: 100px;
  background-color: white;
}

ion-card-title {
  // margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

ion-card-subtitle {
  text-align: center;
  font-size: xx-small;
  margin-top: 30%;
}

.signin-btns {
  margin-top: 25px;
  text-align: center;
}

.login-btns {
  --ion-color-primary: #17a502;
  margin-top: 15px;
}

.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
    background: #cccccc;
  }
}

.auth-form ion-grid,
.auth-form ion-row {
  height: 100%;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 20%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: black;
    align-items: center;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 45%;
    width: 100%;
    color: black;
  }

  .card-qr {
    font-size: 1em;
    position: absolute;
    top: 70%;
    width: 100%;
    color: black;
  }
}

.footerbtns {
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.hr {
  border: 1px solid #ebebeb !important;
  // height: 10px !important;
  width: 90% !important;
  background: #ebebeb !important;
  // display: block !important;
  // font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: 0;
}
