ion-content{
    --ion-background-color: #FFFFFF !important;
    --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  --ion-background-color: #EBEBEB !important;
  &::-webkit-scrollbar {
    display: none;
  }

}
.content{
    background-color: #FFFFFF;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
}

ion-header{
    position: absolute;
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-card-title{
    // margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

ion-card-subtitle{
    text-align: center;
    font-size: xx-small;
    margin-top: 30%;
}

.signin-btns{
    margin-top: 25px;
    text-align: center;
    
}

.login-btns{
    --ion-color-primary:#17A502;
    margin-top: 15px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  .line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  } 
  
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }
  
  .auth-form ion-grid,
  .auth-form ion-row {
    height: 100%;
    justify-content: center;
  }
  
  .already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

