

<ion-content class="content">
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Digital COVID Certificate
      </ion-card-title>
    </ion-card-header>

    <ion-card-content  color="primary" padding justify-content-center >
     
        <ion-row color="primary" style="    justify-content: center;">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              
              <div padding style="text-align: center;">
                <ion-button  class="login-btns" (click)="navigate()" expand="block">Sign In</ion-button>
              
                
              </div>
              <br>
              <span class="divider line one-line">or</span>

              <span class="already">Create a new account</span>
              <div padding style="text-align: center;">
                <ion-button  class="login-btns" [routerLink]="'/registration'" expand="block"color="primary">Register</ion-button>
                
              </div>
            </ion-col>
          </ion-row>
    
    </ion-card-content>

    <ion-card-subtitle >
     
       POWERED BY DPR
    </ion-card-subtitle>

  </ion-card>
  </ion-content>


