<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        [icon]=""
        style="color: white"
        defaultHref="/home"
      >
        <ion-icon ios="arrow-back" md="arrow-back"></ion-icon
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>



<ion-footer no-border text-center>
  <ion-toolbar>
    <ion-buttons class="footerbtns">
      <ion-button  icon-only clear color="success">  <ion-icon style="font-size: 30px;" ios="home-outline" md="home-outline"></ion-icon></ion-button>
      <!-- <ion-button  icon-only clear color="success"><ion-icon style="font-size: 40px;"  ios="add-circle-outline" md="add-circle-outline"></ion-icon></ion-button> -->
      <ion-button  icon-only clear color="success">  <ion-icon style="font-size: 35px;" ios="information-outline" md="information-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>