<ion-header class="ion-no-border" fullscreen="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        [icon]=""
        style="color: white"
        defaultHref="/login"
      >
        <ion-icon ios="arrow-back" md="arrow-back"></ion-icon
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="ion-no-margin">
    <ion-card-header>
    
      <ion-card-title  style="display: flex; align-items: center;justify-content: center;">
    
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: 10%; justify-content: center">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the username or email address that you used when you signed
      up for your LKSafe account.
    </small>
  </form>
</ion-card-content>
  
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-card-subtitle >
     
     POWERED BY DPR
  </ion-card-subtitle>
</ion-footer>

