<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-chip (click)="notifications($event)">
        <ion-avatar>
          <img src="../../assets/images/user.png">
        </ion-avatar>
        <ion-label>Hi, {{this.userName}}</ion-label>
        <!-- <ion-icon name="menu-outline"></ion-icon> -->
      </ion-chip>
     
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Digital COVID Certificate
      </ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <div class="signin-btns">
        <ion-button size="medium" fill="solid" shape="round" class="login-btns" [routerLink]="['/addnewuser']">Add User</ion-button>
       
      </div>
      <div class="signin-btns">
        <ion-button size="medium" fill="solid" shape="round" class="login-btns" [routerLink]="['/showusers']">Show Users</ion-button>
       
      </div>
      <div class="signin-btns" >
        <ion-button *ngIf="this.userRole !=='user'" size="medium" fill="solid" shape="round" class="login-btns" [routerLink]="['/scan']">Scan User</ion-button>
      </div>
    </ion-card-content>

    <ion-card-subtitle>
     
      POWERED BY DPR
    </ion-card-subtitle>

  </ion-card>
  </ion-content>


